.ant-table-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.copyOrcaleQuery {
    width: 100%;
    background-color: #181e26;
    border-top: 1px solid #008f7f;
    border-bottom: 1px solid #008f7f;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    padding: 10px;
    color: #05ccb7;
}
.assets {
    margin: auto;
    clear: both;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageination-wrapper {
    width: 100%;
    text-align: center;
    padding: 20px;
}
.symbol {
    width: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 30px 0;
    margin: 15px;
    margin-top: 5px;
    font-stretch: condensed;
    box-shadow: 3px 3px 0 0 #000000;
    background-color: #181e26;
    border: solid 1px #00ffe2;
    float: left;
    line-height: 0;
    position: relative;
    background: #3a434e;
    color: #00ffe2;
    font-size: 0.8vw;
    font-weight: bold;
    text-align: center;
    color: #00ffe2;

    background: linear-gradient(
        135deg,
        #3a434e 0%,
        #3a434e 50%,
        #11161c 50%,
        #11161c 100%
    );
}
.tableSelect {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #181e26;
    border: solid 1px #979797;
    display: inline-block;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.gridSelect:focus {
    outline: 0;
}
.tableSelect:focus {
    outline: 0;
}
.gridSelect {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #181e26;
    border: solid 1px #979797;
    margin-left: -1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: inline-block;
    background-color: #d8d8d8;
}

.gridTitle {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 218x;
    text-align: center;
    clear: both;
}
.gridLabel {
    font-size: 14px;
    font-weight: normal;
}
.gridData {
    text-align: right;
    float: right;
}
.gridRow {
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 214px;
}
.gridItem {
    width: 255px;
    font-size: 16px;
    font-weight: 500;
    height: 246px;
    border-radius: 4px;
    background-color: #11161c;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #979797;
    border-top: solid 3px #00ffe2;
}
.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.topdirarrow {
    margin-left: 2px;
    border-left: 2px solid #666666;
    border-top: 2px solid #666666;
    position: absolute;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    display: inline;
    top: 56px;
    color: #666666;
}
.bottomdirarrow {
    margin-left: -2px;
    border-left: 2px solid #666666;
    border-top: 2px solid #666666;
    position: absolute;
    transform: rotate(135deg);
    width: 8px;
    height: 8px;
    display: inline;
    top: 69px;
    color: #666666;
}

.symbolText-2 {
    font-size: 24px;
}
.symbolText-3 {
    font-size: 20px;
}
.symbolText-4 {
    font-size: 18px;
}
.symbolText-5 {
    font-size: 14px;
}
.symbolText-6 {
    font-size: 12px;
}
.symbolText-7 {
    font-size: 8px;
}
.symbolText-8 {
    font-size: 6px;
}
.symbolText-9 {
    font-size: 4px;
}
.symbolText-10 {
    font-size: 1px;
}
.custom-filter-dropdown input {
    width: 175px;
    margin-right: 8px;
}
.detailsGridContainer {
    margin-top: 3px;
    float: right;
}
.highlight {
    color: #f50;
}

th span {
    word-break: normal;
}

.contract-data {
    position: relative;
    margin-top: 15px;

    .loader-wrapper {
        margin-top: 50px;
    }
}
